<div class="panel panel-default contact-cards">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
                <div class="avatar">
                    <img ng-src="{{ avatar }}" class="center-block img-circle img-responsive" />
                </div>
                <ul class="social-links" title="Social Links">
                    <li ng-if="user.facebook">
                        <span class="fa fa-facebook fa-lg"></span>: <a href="https://www.facebook.com/{{ user.facebook }}" title="Facebook" target="_blank">{{ user.facebook}}</a>
                    </li>
                    <li ng-if="user.line">
                        <span class="fa fa-wechat fa-lg"></span>: <a href="#" title="WeChat or Line">{{ user.line }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8">
                <h2><a href="/{{ user.name }}" ng-click="showProfile(user.name)">{{ user.name }}</a></h2>
                <p><strong>Birthday: </strong>{{ user.birthday }}</p>
                <p><strong>E-mail: </strong>{{ user.email }}</p>
                <p><strong>Phone: </strong>{{ user.mobile_phone || user.home_phone }}</p>
                <p><strong>Location: </strong>{{ user.city }}</p>
            </div>
        </div>
    </div>
</div>
