<div class="panel panel-default contact-cards">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
                <div class="avatar">
                    <img src="https://www.gravatar.com/avatar/9116994a95b11f219055306520647168?s=100" class="center-block img-circle img-responsive" />
                </div>
                <ul class="social-links" title="Social Links">
                    <li>
                        <span class="fa fa-facebook fa-lg"></span>: <a href="#" title="Facebook" rel="nofollow">leejefon</a>
                    </li>
                    <li>
                        <span class="fa fa-wechat fa-lg"></span>: <a href="#" title="WeChat" rel="nofollow">leejefon</a>
                    </li>
                </ul>
            </div><!--/col-->
            <div class="col-xs-12 col-sm-8">
                <h2><a href="#">{{ user.name }}</a></h2>
                <p><strong>Birthday: </strong>1989/05/02</p>
                <p><strong>E-mail: </strong>leejefon@gmail.com</p>
                <p><strong>Phone: </strong>+1-650-267-0781</p>
                <p><strong>Location: </strong>San Mateo</p>
            </div>
        </div>
    </div>
</div>
