<div>
    <header></header>

    <div id="search_form">
        <form>
            <input id="search_box" ng-model="q" type="text" placeholder="Search" tabindex="1" />
            <input id="search_submit" type="submit" value="" ng-click="triggerSearch()" />
            <!-- <a id="search_submit" ui-sref="user.search({ q: q })" ui-sref-opts="{reload: true}"></a> -->
        </form>
    </div>

    <hr />

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 card-div" ng-repeat="user in users">
            <card user="user"></card>
        </div>
    </div>
</div>
