<div ng-cloak>
    <div class="modal-header">
        <h3 class="modal-title">New User</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <avatar></avatar>
            </div>

            <div class="col-md-8 personal-info">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Name:</label>
                        <div class="col-lg-8 input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-user"></span>
                            </span>
                            <input class="form-control" type="text" placeholder="李玠鋒" ng-model="newUser.name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8 input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-envelope-o"></span>
                            </span>
                            <input class="form-control" type="email" placeholder="my@email.com" ng-model="newUser.email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Home Phone:</label>
                        <div class="col-lg-8 input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-phone"></span>
                            </span>
                            <input class="form-control" type="text" placeholder="07-123-4567" ng-model="newUser.home_phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Mobile Phone:</label>
                        <div class="col-lg-8 input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-mobile"></span>
                            </span>
                            <input class="form-control" type="text" placeholder="0911-123-456" ng-model="newUser.mobile_phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Current City:</label>
                        <div class="col-lg-8 input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-location-arrow"></span>
                            </span>
                            <input class="form-control" type="text" placeholder="台北市" ng-model="newUser.city" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Home Address:</label>
                        <div class="col-md-8 input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-home"></span>
                            </span>
                            <input class="form-control" type="text" placeholder="台南市鹽水區中山路14號" ng-model="newUser.address" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Birthday:</label>
                        <div class="col-lg-8 input-group" id="birthdayInput">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                            <input class="form-control" type="text" placeholder="1980/01/01" ng-model="newUser.birthday" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Password:</label>
                        <div class="col-md-8 input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input class="form-control" type="password" placeholder="password" ng-model="newUser.password" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save()">Save</button>
        <button class="btn btn-danger" type="button" ng-click="close()">Cancel</button>
    </div>
</div>

<style type="text/css">
.input-group .fa {
    width: 16px;
    font-size: 18px;
}
</style>
