body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #F4F4F4;
    font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato';
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
        width: 90%;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
    .header {
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 30px;
    }
}

#search_form {
    text-align: center;
}

#search_form input[type="text"] {
    height: 55px;
    font-size: 35px;
    display: inline-block;
    font-family: "Lato";
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    padding: 3px;
    background: none;
    cursor: text;
    width: 700px;
    z-index: 1;
    border-bottom: 1px solid #DDD;
    vertical-align: top;
}

#search_form input[type="text"]:focus {
    border-bottom: 1px solid #BBB;
}

#search_form input[type="submit"] {
    height: 50px;
    width: 50px;
    display: inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    vertical-align: top;
}

#search_form input[type="submit"]:hover, #search_form input[type="text"]:focus ~ input[type="submit"] {
    opacity: 0.6;
}

.contact-cards h2 {
    margin-top: 5px;
}

.contact-cards em {
    background-color: yellow;
    font-style: normal;
}

.avatar {
    margin-top: 5px;
}

.social-links {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.social-links li {
    margin: 5px;
}

.social-inputs {
    padding-left: 40px;
}
