<div ng-cloak>
    <div class="modal-header">
        <h3 class="modal-title">
            {{ user.name }}
            <a href="/{{ user.name }}/edit" class="pull-right" ng-if="$root.currentUser.role === 'admin' || $root.currentUser.name === user.name"><i class="fa fa-pencil"></i></a>
        </h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <avatar view-only="true"></avatar>
            </div>
            <div class="col-md-8 col-sm-12">
                <p><strong>Birthday: </strong>{{ user.birthday }}</p>
                <p><strong>E-mail: </strong>{{ user.email }}</p>
                <p><strong>Home Phone: </strong>{{ user.home_phone }}</p>
                <p><strong>Mobile Phone: </strong>{{ user.mobile_phone }}</p>
                <p><strong>Current City: </strong>{{ user.city }}</p>
                <p><strong>Home Address: </strong>{{ user.address }}</p>
                <ul class="social-links" title="Social Links">
                    <li ng-if="user.facebook">
                        <span class="fa fa-facebook fa-lg"></span>: <a href="https://www.facebook.com/{{ user.facebook }}" title="Facebook" target="_blank">{{ user.facebook }}</a>
                    </li>
                    <li ng-if="user.line">
                        <span class="fa fa-wechat fa-lg"></span>: <a href="#" title="WeChat or Line">{{ user.line }}</a>
                    </li>
                </ul>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
    </div>
</div>
